**/__pycache__/
**/*.pyc
**/*.pyo
**/*.pyd
.Python
env/
venv/
.venv/
.env
.git/
.gitignore
README.md
.coverage
.coverage.*
*.log
.local
.cache
.DS_Store
*.sqlite3
db.sqlite3
media/
staticfiles/
*.egg-info/
.installed.cfg
*.egg
.dockerignore
Dockerfile
docker-compose*.yml