*

!.gitignore
!readme.md
!POA/
!POA/**
!manage.py
!static/
!static/**
!dockerfile
!docker-compose.yml
!.dockerignore
!requirements.txt
!pessoas/
!pessoas/**
!academico
!academico/**
!contas/
!contas/**


**/__pycache__/
**/*.pyc